.sidebar
  .logo
    %a{ 'ui-sref' => 'app.main.dashboard' }
      %img{ src: 'images/logo.png', alt: 'Apply.Property' }

  .sidebar-links
    %a{ 'ui-sref' => 'app.main.dashboard' }
      %i.icon.dashboard
      %span Dashboard

    %a{ 'ui-sref' => 'app.errors.comingSoon' }
      %i.icon.prospects
      %span My Profile

    %a{ 'ui-sref' => 'app.errors.comingSoon' }
      %i.icon.analytics
      %span Support
