.prompt
  %h3 Thank you!
  %p
    Your application has been submitted for consideration.
    We will now review your application and make a decision as soon as possible.
  %button.btn.btn-primary{ type: 'button', 'ng-click' => 'ok()' }
    OK
