.signin
  .signin-logo
    %a{ 'ui-sref' => 'signin.index' }
      %img{ src: 'images/logo.png', alt: 'Apply.Property' }
  .signin-form
    .signin-header{ 'state-title' => '' }
    .signin-splitter
    %div{ 'ui-view' => '' }
