.checkbox{ 'data-ng-click' => 'toggleCheck()' }
  %i.icon{ 'data-ng-class' => "{ true: 'checkbox-checked',
    false: 'checkbox-unchecked' }[ngModel]" }
  .placeholder{ 'data-ng-bind' => 'placeholder' }
