.apply-content {
  padding: 5em;

  .close-icon {
    cursor: pointer;
    font-size: 22px;
    padding: 10px;
  }

  .main-application-form {
    padding: 3em 5em;

    form {
      color: $light-text-color;
      font-family: Lato;
      font-size: 18px;
      margin-top: 3em;
    }

    .form-section {
      margin: 2em 0;
    }
  }

  .prompt {
    color: $light-text-color;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
  }
}

