//-----------------------------------------------------------------------------
// Dashboard
//-----------------------------------------------------------------------------

.expanded-listing {
  background-color: $dark-background-color;

  .properties {
    vertical-align: top;

    .property-type {
      color: $light-text-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.43;
      margin-left: 30px;
      padding-top: 5px;
    }

    span:first-child {
      margin-left: 0;
    }

    .property-value {
      margin-left: 5px;
    }

    .description {
      color: $light-text-color;
      font-size: 12px;
      line-height: 1.67;
      margin-right: 50px;
      margin-top: 20px;
    }
  }
}
